*{
    font-family: 'Shadows Into Light', cursive;
  }
  html {
    scroll-behavior: smooth;
}
  body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* media queries */
    @media screen  and (max-width:1200px) and (min-width:768px){
        background:white;
        
      }
      @media(max-width:$laptop) 
      {
        padding:15px;
        margin: 30px;
           }
           @media(max-width:$tablet) 
      {
        padding:15px;
        margin: 0px;
            }
  }
  /* nav bar */
  h1{
    font-size: 50px;
    
}
p{
    font-size: 24px;
    line-height: 50px;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: darkgrey;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    /* media query */
    @media (max-width:$laptop) 
    {
      display:block;
      font-size: 24px;
          }
          @media(max-width:$tablet) 
          {
            font-size: 20px;
                }
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}

a{
    margin: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
/* Home page */
.container-full{
    background-image: url("../img/backgrounds/Pizza.jpg");
    background-position: center;
    text-align:center;
    height: auto;
    background-size: cover;
    text-decoration-color: white;
  }
  .landing{
    padding-top: 20%;
    }
    .landing h1{
        font-weight: 600;
        font-size: 45px;
      }
    
    #mouse{
      padding-top: 15%;
      padding-bottom: 1%;
    }